body {
  padding-top: 5rem;
  background-color: #EDF0F5;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


.bg-dark {
  background-color: #3B5998 !important;
}

.btn-primary{
  background-color:#254b8b;
  border:0px;
}


.btn-primary:hover, .btn-primary:active{
  background-color:#29487d;
}

.navbar{
  padding: .5rem 8rem;
}

#tabla-items td{
  padding:10px;
}

.item{
  font-size:1em;
}

h2{
  font-size: 28px;
}

#formulario-registro .form-control{
  font-size:18px;
  margin:5px;
}

.radio-label{
  font-size:1.3em;
  margin:5px;
}

.texto-pequenio{
  font-size: 11px;
  color: #777;
  width: 316px;
}

.btn-success{
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  font-size: 19px;
  min-width: 200px;
  font-weight: bold;
  text-shadow: 1px 1px #284b14;
}